<div class="mt-5">

    <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
            <form class="form-inline">
                <input class="form-control mr-sm-2 w-75" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="keyword" name="keyword">
                <button class="btn btn-outline-success my-2 my-sm-0" (click)="loadProductsByKeyword()">Search</button>
            </form>
        </div>
    </div>

    <div class="p-3 mb-5 bg-white">
        <div class="row justify-content-center">

            <div class="col-lg-2">
                <div class="shadow-sm">
                    <div class="category-title">
                        <span jhiTranslate="flowermartApp.category.home.title">Category</span>
                    </div>

                    <div class="alert alert-warning" id="no-result" *ngIf="categories?.length === 0">
                        <span jhiTranslate="flowermartApp.category.home.notFound">No categories found</span>
                    </div>

                    <ul *ngIf="categories && categories.length > 0">
                        <li class="category-content" (click)="loadAllProducts()">
                            <span>Tất cả</span>
                        </li>
                        <li class="category-content" *ngFor="let category of categories" (click)="loadProducts(category)">
                            <span>{{category.name}}</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-10">
                <div class="alert alert-warning" id="no-result" *ngIf="products?.length === 0">
                    <span jhiTranslate="flowermartApp.product.home.notFound">No products found</span>
                </div>
                <div class="row" *ngIf="products && products.length > 0">
                    <div class="card m-3" style="width: 18rem; height: auto;" *ngFor="let product of products ;trackBy: trackId">
                        <img [src]="'data:' + product.imageContentType + ';base64,' + product.image" class="card-img-top" style="max-width: 100%; height: auto" alt="product image">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text"><span jhiTranslate="flowermartApp.product.price"></span>: {{ product.price | currency:"VND":"symbol"}}</p>
                            <button type="submit"
                                    [routerLink]="['/product', product.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button *jhiHasAnyAuthority="'ROLE_USER'"
                                    type="submit"
                                    class="btn btn-warning btn-sm"
                                    (click)="addToCart(product)"
                                    >
                                <fa-icon [icon]="cartPlus_icon"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="flowermartApp.product.addToCart" >Add to cart</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


