/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}

// Category
.category-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  background-color: #389e0d;
  color: white;
}

.category-content {
  list-style-type: none;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8;
  padding-top: 4px;
  padding-bottom: 4px;
}

.category-content:hover {
  text-decoration: underline navy;
}
