<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bill">
            <h2><span jhiTranslate="flowermartApp.bill.detail.title">Bill</span> {{ bill.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="flowermartApp.bill.placedDate">Placed Date</span></dt>
                <dd>
                    <span>{{ bill.placedDate }}</span>
                </dd>
                <dt><span jhiTranslate="flowermartApp.bill.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'flowermartApp.OrderStatus.' + bill.status }}">{{ bill.status }}</span>
                </dd>
                <dt><span jhiTranslate="flowermartApp.bill.user">User</span></dt>
                <dd>
                    {{ bill.user?.email }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bill', bill.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
