<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="billItem">
            <h2><span jhiTranslate="flowermartApp.billItem.detail.title">Bill Item</span> {{ billItem.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="flowermartApp.billItem.quantity">Quantity</span></dt>
                <dd>
                    <span>{{ billItem.quantity }}</span>
                </dd>
                <dt><span jhiTranslate="flowermartApp.billItem.product">Product</span></dt>
                <dd>
                    <div *ngIf="billItem.product">
                        <a [routerLink]="['/product', billItem.product?.id, 'view']">{{ billItem.product?.name }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="flowermartApp.billItem.bill">Bill</span></dt>
                <dd>
                    <div *ngIf="billItem.bill">
                        <a [routerLink]="['/bill', billItem.bill?.id, 'view']">{{ billItem.bill?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bill-item', billItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
