<div class="wrap cf">
    <h1 class="projTitle">Shopping Cart<span>-yencute</span></h1>
    <div class="heading cf">
        <h1>My Cart</h1>
        <a routerLink="/" class="continue">Continue Shopping</a>
    </div>
    <div class="cart">
        <ul class="cartWrap">
            <li class="items odd">
                <div class="infoWrap">
                    <div class="cartSection">
                    <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
                        <p class="itemNumber">#QUE-007544-002</p>
                        <h3>Item Name 1</h3>

                        <p> <input type="text"  class="qty" placeholder="3"/> x $5.00</p>

                        <p class="stockStatus"> In Stock</p>
                    </div>
                    <div class="prodTotal cartSection">
                        <p>$15.00</p>
                    </div>
                            <div class="cartSection removeWrap">
                        <a href="#" class="remove">x</a>
                    </div>
                </div>
            </li>
      </ul>
    </div>

    <div class="promoCode">
        <label for="promo">Have A Promo Code?</label>
        <input type="text" name="promo" placholder="Enter Code" />
        <a href="#" class="btn"></a>
    </div>

    <div class="subtotal cf">
        <ul style="list-style-type:none">
            <li class="totalRow final"><span class="label">Total</span><span class="value">$44.00</span></li>
            <li class="totalRow"><a href="#" class="btn continue">Checkout</a></li>
        </ul>
    </div>
</div>
