<div class="wrap cf">
    <h1 class="projTitle">Shopping Cart<span>-yencute</span></h1>
    <div class="heading cf">
        <h1>My Cart</h1>
        <a routerLink="/" class="continue">Continue Shopping</a>
    </div>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="billItems?.length === 0">
        <span jhiTranslate="flowermartApp.billItem.home.notFound">No billItems found</span>
    </div>
    <br>
    <div class="cart">
        <ul class="cartWrap" *ngIf="billItems && billItems.length > 0">
            <li class="items" *ngFor="let item of billItems">
                <div class="infoWrap">
                    <div class="cartSection">
                        <div *ngIf="item.product?.image">
                            <img [src]="'data:' + item.product?.imageContentType + ';base64,' + item.product?.image" style="max-height: 30px;" alt="product image"/>
                        </div>

                        <h3>{{item.product?.name}}</h3>

                        <p> <input type="text" class="qty" [(ngModel)]="item.quantity" [placeholder]="item.quantity"/></p>

                        <p class="stockStatus">AVAILABLE</p>
                    </div>

                    <div class="prodTotal cartSection">
                        <p>{{item.product?.price | currency:"VND":"symbol"}}</p>
                    </div>

                    <div class="cartSection removeWrap">
                        <a (click)="delete(item)" class="remove">x</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="promoCode">
        <label for="promo">Have A Promo Code?</label>
        <input type="text" name="promo" placholder="Enter Code" />
        <a href="#" class="btn"></a>
    </div>

    <div class="subtotal cf">
        <ul style="list-style-type:none">
            <li class="totalRow final"><span class="label">Total</span><span class="value">{{loadTotalPrice() | currency:"VND":"symbol"}}</span></li>
            <li class="totalRow">
                <button class="btn btn-info" (click)="checkout()">Checkout</button>
            </li>
        </ul>
    </div>
</div>
