@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
  dd {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details > {
    dt {
      margin-bottom: 15px;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding-left: 180px;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

//color
$color-primary: #fcb83b;
$color-primary-1: #d18800;
$color-primary-2: #e4bd74;

$color-white: white;
$color-white-1: #eee;
$color-white-2: #ddd;
$color-white-3: #f9f9f9;
$color-white-4: #f8f8f8;
$color-white-5: #f0f0f0;

$color-gray: #ccc;
$color-gray-1: #696969;
$color-gray-2: #888;

$color-black: black;
$color-black-1: #242424;
$color-black-2: #48494b;
$color-black-3: #333333;

$color-pink: #e28985;
$color-pink-1: #ec625a;
$color-pink-2: #eec0c0;

$color-red: #f44336;
$color-red-1: #d32f2f;
$color-red-2: #e57373;

$color-green: #4caf50;
$color-green-1: #388e3c;
$color-green-2: #dff2d6;

$color-blue: #2196f3;
$color-blue-1: #1976d2;
$color-blue-2: #64b5f6;

$color-opacity-black: rgba(0, 0, 0, 0.2);
$color-opacity-black-1: rgba(0, 0, 0, 0.35);
$color-opacity-black-2: rgba(0, 0, 0, 0.5);
$color-opacity-primary: rgba(252, 184, 59, 0.5);
$color-opacity-white: rgba(255, 255, 255, 0.25);
$color-opacity-gray: rgba(221, 221, 221, 0.5);

//width
$w: 1200px;

//break point
$bp-xs: 0px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

@mixin width-frame {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 8px;
}

@mixin xs {
  @media (max-width: #{$bp-sm - 1}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$bp-md - 1}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$bp-lg - 1}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$bp-xl - 1}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$bp-xl}) {
    @content;
  }
}

@mixin custom-responsive($screen) {
  @media (max-width: ($screen - 1) + 'px') {
    @content;
  }
}
